<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/manifest+json"/>
    </staticContent>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>

<!--this file is added to the root to get older windows II6 to support/ read the manifest.json-->
<!--it is best practice to remove file-extension first to prevent unexpected errors in servers that already support .json-->
<!--web.config/ app.config can also be used to establish connection to sql/ oracle/ odbc/ ole(excel) databases to excute commands and retrieve/ display/alter data in database...used for Apps-->
